/* Styles for font faces */
        @font-face {
            font-family: Poppins-Regular;
            src: url('../fonts/poppins/Poppins-Regular.ttf'); 
        }

        @font-face {
            font-family: Poppins-Medium;
            src: url('../fonts/poppins/Poppins-Medium.ttf'); 
        }

        @font-face {
            font-family: Poppins-Bold;
            src: url('../fonts/poppins/Poppins-Bold.ttf'); 
        }

        @font-face {
            font-family: Poppins-SemiBold;
            src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
        }

        /* Body styles */
        body {
            font-family: 'Saira Extra Condensed', sans-serif;
            letter-spacing: 1px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin: 0;
            
            flex-direction: column;
            align-items: center;
            padding-bottom: 20%;
            background-color: #dfdfdf;
        }

        /* Heading styles */
        h1 {
            color: #333;
            font-size: 36px;
        }

        h1.Win {
            color: green;
            font-size: 48px;
        }

        /* Paragraph styles */
        p {
            font-size: 18px;
            color: #000000;
        }

        /* Form styles */
        form {
            margin: 20px;
        }

        label {
            font-size: 20px;
            color: #333;
        }

        input[type="text"] {
            padding: 5px;
            font-size: 18px;
        }

        /* Button styles */
        button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 5px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 10px;
        }

        button:hover {
            background-color: #0056b3;
        }

        /* Guessed letter styles */
        p.YourLettersGuessed {
            color: #333;
            font-size: 20px;
        }

        /* Additional styles */
        .rad {
            border-radius: 10px;
        }

        .acc {
            width: 100px;
        }

        .apa {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 1%;
        }

        .game-options {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 6%;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            transition: background-color 0.2s ease-in-out;
            margin: 0 10px;
        }

        .button-container:hover {
            background-color: #ffffff;
        }

        .button {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            background-color: #4285f4;
            border-radius: 10px;
            padding: 7%;
            text-decoration: none;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
        }

        .button:hover {
            transform: translateY(-5px);
            box-shadow: 0px 25px 25px rgba(0,0,0,0.3);
        }

        .bob {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            text-align: center;
            
            border-radius: 10px;
            text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
        }

        /* General styles */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container header {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) -10%, rgba(0, 0, 0, 0) 100%);
            text-align: center;
            padding: 10px 0 25px;
            font-size: 1.25rem;
        }

        .container ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .container li {
            display: inline-flex;
        }

        .container a {
            position: relative;
            padding: 10px;
            margin: 0 1.5rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
        }

        .container a::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) scaleX(0);
            transform-origin: 50% 50%;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.8);
            transition: transform 250ms;
        }

        .container a:hover::after {
            transform: translateX(-50%) scaleX(1);
        }

        .focus-input100 {
            position: absolute;
            display: block;
            width: 280px;
            pointer-events: none;
            font-size: 17px;
            color: #8f8f8f;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .focus-input100::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            transition: all 0.4s;
            background: #6a7dfe;
            background: linear-gradient(left, #21d4fd, #b721ff);
        }

        .focus-input100::after {
            font-size: 15px;
            color: #999999;
            line-height: 1.2;
            content: attr(data-placeholder);
            display: block;
            width: 100%;
            position: absolute;
            top: -25px;
            left: 0px;
            padding-left: 5px;
            transition: all 0.4s;
        }

        .input100:focus + .focus-input100::after,
        .has-val.input100 + .focus-input100::after {
            top: -50px;
        }

        .input100:focus + .focus-input100::before,
        .has-val.input100 + .focus-input100::before {
            width: 100%;
        }

        .has-val {
            color: #333;
        }